In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

file_path = r"C:\Users\mosta\Downloads\archive (16).zip"

df = pd.read_csv(file_path, compression='zip')


df

,Unique id,channel_name,category,Sub-category,Customer Remarks,Order_id,order_date_time,Issue_reported at,issue_responded,Survey_response_Date,Customer_City,Product_category,Item_price,connected_handling_time,Agent_name,Supervisor,Manager,Tenure Bucket,Agent Shift,CSAT Score
0,7e9ae164-6a8b-4521-a2d4-58f7c9fff13f,Outcall,Product Queries,Life Insurance,NaN,c27c9bb4-fa36-4140-9f1f-21009254ffdb,NaN,01/08/2023 11:13,01/08/2023 11:47,01-Aug-23,NaN,NaN,NaN,NaN,Richard Buchanan,Mason Gupta,Jennifer Nguyen,On Job Training,Morning,5
1,b07ec1b0-f376-43b6-86df-ec03da3b2e16,Outcall,Product Queries,Product Specific Information,NaN,d406b0c7-ce17-4654-b9de-f08d421254bd,NaN,01/08/2023 12:52,01/08/2023 12:54,01-Aug-23,NaN,NaN,NaN,NaN,Vicki Collins,Dylan Kim,Michael Lee,>90,Morning,5
2,200814dd-27c7-4149-ba2b-bd3af3092880,Inbound,Order Related,Installation/demo,NaN,c273368d-b961-44cb-beaf-62d6fd6c00d5,NaN,01/08/2023 20:16,01/08/2023 20:38,01-Aug-23,NaN,NaN,NaN,NaN,Duane Norman,Jackson Park,William Kim,On Job Training,Evening,5
3,eb0d3e53-c1ca-42d3-8486-e42c8d622135,Inbound,Returns,Reverse Pickup Enquiry,NaN,5aed0059-55a4-4ec6-bb54-97942092020a,NaN,01/08/2023 20:56,01/08/2023 21:16,01-Aug-23,NaN,NaN,NaN,NaN,Patrick Flores,Olivia Wang,John Smith,>90,Evening,5
4,ba903143-1e54-406c-b969-46c52f92e5df,Inbound,Cancellation,Not Needed,NaN,e8bed5a9-6933-4aff-9dc6-ccefd7dcde59,NaN,01/08/2023 10:30,01/08/2023 10:32,01-Aug-23,NaN,NaN,NaN,NaN,Christopher Sanchez,Austin Johnson,Michael Lee,0-30,Morning,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85902,505ea5e7-c475-4fac-ac36-1d19a4cb610f,Inbound,Refund Related,Refund Enquiry,NaN,1b5a2b9c-a95f-405f-a42e-5b1b693f3dc9,NaN,30/08/2023 23:20,31/08/2023 07:22,31-Aug-23,NaN,NaN,NaN,NaN,Brandon Leon,Ethan Tan,William Kim,On Job Training,Morning,4
85903,44b38d3f-1523-4182-aba2-72917586647c,Inbound,Order Related,Seller Cancelled Order,Supported team customer executive good,d0e8a817-96d5-4ace-bb82-adec50398e22,NaN,31/08/2023 08:15,31/08/2023 08:17,31-Aug-23,NaN,NaN,NaN,NaN,Linda Foster,Noah Patel,Emily Chen,>90,Morning,5
85904,723bce2c-496c-4aa8-a64b-ca17004528f0,Inbound,Order Related,Order status enquiry,need to improve with proper details.,bdefe788-ccec-4eda-8ca4-51045e68db8a,NaN,31/08/2023 18:57,31/08/2023 19:02,31-Aug-23,NaN,NaN,NaN,NaN,Kimberly Martinez,Aiden Patel,Olivia Tan,On Job Training,Evening,5
85905,707528ee-6873-4192-bfa9-a491f1c08ab5,Inbound,Feedback,UnProfessional Behaviour,NaN,a031ec28-0c5e-450e-95b2-592342c40bc4,NaN,31/08/2023 19:59,31/08/2023 20:00,31-Aug-23,NaN,NaN,NaN,NaN,Daniel Martin,Olivia Suzuki,Olivia Tan,>90,Morning,4
85906,07c7a878-0d5a-42e0-97ef-de59abec0238,Inbound,Returns,Reverse Pickup Enquiry,NaN,3230db30-f8da-4c44-8636-ec76d1d3d4f3,NaN,31/08/2023 23:36,31/08/2023 23:37,31-Aug-23,NaN,NaN,NaN,NaN,Elizabeth Guerra,Nathan Patel,Jennifer Nguyen,On Job Training,Evening,5

In [2]:
df['Customer Remarks'].isnull()
df['Customer Remarks'].dropna(inplace=True)
df['Customer Remarks'].fillna('no answer', inplace=True)

C:\Users\mosta\AppData\Local\Temp\ipykernel_28504\3622366590.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Customer Remarks'].fillna('no answer', inplace=True)

In [3]:
df['CSAT Score'].isnull()
df.isnull()

,Unique id,channel_name,category,Sub-category,Customer Remarks,Order_id,order_date_time,Issue_reported at,issue_responded,Survey_response_Date,Customer_City,Product_category,Item_price,connected_handling_time,Agent_name,Supervisor,Manager,Tenure Bucket,Agent Shift,CSAT Score
0,False,False,False,False,False,False,True,False,False,False,True,True,True,True,False,False,False,False,False,False
1,False,False,False,False,False,False,True,False,False,False,True,True,True,True,False,False,False,False,False,False
2,False,False,False,False,False,False,True,False,False,False,True,True,True,True,False,False,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,True,True,True,True,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,True,True,True,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85902,False,False,False,False,False,False,True,False,False,False,True,True,True,True,False,False,False,False,False,False
85903,False,False,False,False,False,False,True,False,False,False,True,True,True,True,False,False,False,False,False,False
85904,False,False,False,False,False,False,True,False,False,False,True,True,True,True,False,False,False,False,False,False
85905,False,False,False,False,False,False,True,False,False,False,True,True,True,True,False,False,False,False,False,False
85906,False,False,False,False,False,False,True,False,False,False,True,True,True,True,False,False,False,False,False,False

In [4]:
df['order_date_time'] = pd.to_datetime(df['order_date_time'], format='%Y-%m-%d %H:%M:%S', errors='coerce')
df['order_date_time'].fillna('-',inplace=True)
df['order_date_time'].isnull().sum()

C:\Users\mosta\AppData\Local\Temp\ipykernel_28504\2172889321.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['order_date_time'].fillna('-',inplace=True)
C:\Users\mosta\AppData\Local\Temp\ipykernel_28504\2172889321.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df['order_date_time'].fillna('-',inplace=True)

np.int64(0)

In [5]:
df['Order_id'].dropna(inplace=True)
df['Order_id'].fillna('Not Available', inplace=True)
df['Order_id'].info()

C:\Users\mosta\AppData\Local\Temp\ipykernel_28504\1619993871.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Order_id'].fillna('Not Available', inplace=True)

<class 'pandas.core.series.Series'>
RangeIndex: 85907 entries, 0 to 85906
Series name: Order_id
Non-Null Count  Dtype
--------------  -----
85907 non-null  object
dtypes: object(1)
memory usage: 671.3+ KB

In [6]:
df['Customer_City'].isnull().sum()
df['Customer_City'].dropna(inplace=True)
df['Customer_City'].fillna('Not Available', inplace=True)   
df['Customer_City'].isnull().sum()

C:\Users\mosta\AppData\Local\Temp\ipykernel_28504\3712506442.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Customer_City'].fillna('Not Available', inplace=True)

np.int64(0)

In [7]:
df.isnull().sum()

Unique id                      0
channel_name                   0
category                       0
Sub-category                   0
Customer Remarks               0
Order_id                       0
order_date_time                0
Issue_reported at              0
issue_responded                0
Survey_response_Date           0
Customer_City                  0
Product_category           68711
Item_price                 68701
connected_handling_time    85665
Agent_name                     0
Supervisor                     0
Manager                        0
Tenure Bucket                  0
Agent Shift                    0
CSAT Score                     0
dtype: int64

In [8]:
df['Product_category'].dropna(inplace=True)
df['Product_category'].fillna('Not Available', inplace=True)
df['Product_category'].isnull().sum()

C:\Users\mosta\AppData\Local\Temp\ipykernel_28504\3165179891.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Product_category'].fillna('Not Available', inplace=True)

np.int64(0)

In [15]:
avg_AHT = df['connected_handling_time' ].mean()
avg_AHT
avg_item_price = df['Item_price'].mean()
avg_item_price

np.float64(5660.7748459839595)

In [24]:
df['Item_price'].dropna(inplace=True)
df['Item_price'].fillna(avg_item_price, inplace=True)
df['Item_price'].isnull().sum()

np.int64(0)

In [26]:
df['connected_handling_time'].dropna(inplace=True)
df['connected_handling_time'].fillna(avg_AHT, inplace=True)
df['connected_handling_time'].isnull().sum()

C:\Users\mosta\AppData\Local\Temp\ipykernel_28504\970152580.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['connected_handling_time'].fillna(avg_AHT, inplace=True)
C:\Users\mosta\AppData\Local\Temp\ipykernel_28504\970152580.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['connected_handling_time'].fillna(avg_AHT, inplace=True)

np.int64(0)

In [27]:
df.isnull().sum()

Unique id                  0
channel_name               0
category                   0
Sub-category               0
Customer Remarks           0
Order_id                   0
order_date_time            0
Issue_reported at          0
issue_responded            0
Survey_response_Date       0
Customer_City              0
Product_category           0
Item_price                 0
connected_handling_time    0
Agent_name                 0
Supervisor                 0
Manager                    0
Tenure Bucket              0
Agent Shift                0
CSAT Score                 0
dtype: int64